body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;  
}

/* Header */

header {
    border-bottom: 1px solid #E7E9FC;
}

ul, li {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1130px;
}

.header-wrapper {
    display: flex;
    margin-top: 26px;
    margin-bottom: 26px;
    justify-content: space-between;
}

.header-list {
    display: flex;
}

.header-contacts {
    display: flex;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contacts-item:not(:last-child) {
    margin-right: 40px;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.logo-web {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}

span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

/* Header */

/* Main */

.portfolio {
    padding-top: 96px;
}
.portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-item:not(:last-child) {
    margin-right: 24px;
}

.portfolio-item {
}
.portfolio-item-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    box-sizing: border-box;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-item-btn:is(:hover, :focus) {
    border: 1px solid #404BBF;
    color: #FFFFFF;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Main */

/* portfolio */

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-content-item:nth-child(3) {
    margin-right: 0;
}

.portfolio-content-item:nth-child(6) {
    margin-right: 0;
}

.portfolio-content-item:nth-child(9) {
    margin-right: 0;
}

.portfolio-content-item {
    margin-right: 22px;
    margin-bottom: 48px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}


.portfolio-subtitle {
    margin-left: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-item-text {
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* portfolio */

/* footer */

.footer {
    background: #2E2F42;
    display: flex;
    align-items: center;
    height: 312px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}

/* footer */